/*
 VIDEO TAB
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}
.tabset .tab-panel {
  display: none;
}
.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}
/*
 Styling
*/
body {
  font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
}
.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}
.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}
.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}
.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}
.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}
.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}
/*
 VIDEO TAB
*/
/*
 MARQUEE
*/
.example1 {
 height: 50px;	
 background-color: #d30429;
 padding: 5;
}
.example1 h3 {
  font-family: 'Titillium Web', sans-serif;
  color: #FFFFFF;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}
/*
 MARQUEE
*/
/*
 AFILIACION
*/
/* Plugin: Marquee Banners v1.0.2 */
/* by zkreations */
@-webkit-keyframes marquee{0%{top:100%;-webkit-transform:translateY(0);transform:translateY(0)}100%{top:0;-webkit-transform:translateY(-100%);transform:translateY(-100%)}}@keyframes marquee{0%{top:100%;-webkit-transform:translateY(0);transform:translateY(0)}100%{top:0;-webkit-transform:translateY(-100%);transform:translateY(-100%)}}@-webkit-keyframes marquee-inset{0%,100%{-webkit-transform:translateY(0);transform:translateY(0);top:0}50%{-webkit-transform:translateY(-100%);transform:translateY(-100%);top:100%}}@keyframes marquee-inset{0%,100%{-webkit-transform:translateY(0);transform:translateY(0);top:0}50%{-webkit-transform:translateY(-100%);transform:translateY(-100%);top:100%}}.marque{overflow:hidden;position:relative}.marque-items{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;position:absolute;left:0;width:100%}.marque-items:hover{-webkit-animation-play-state:paused;animation-play-state:paused}.marque-items a{display:block;float:left}.marque-items img{max-width:100%}
/*
=> Personalizar
*/
/* Contenedor
--------------------------------------------*/
.marque {
  height:150px; /*Altura del contenedor*/
}
/* Animacion --------------------------------------------*/
.marque-items {
  -webkit-animation-duration: 10s;
          animation-duration: 10s; /* Duracion */
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;  /* Tipo de animación */
  -webkit-animation-name: marquee;
          animation-name: marquee; /* Animacion */
}
/*
 AFILIACION
*/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:600&display=swap');
